{% extends 'usuarios/base.html' %}

{% block content %}

<div class="container text-center">
  {% if user.is_authenticated %}
    Hi {{ user.username }}!
    <br>
    <p><a href="/logout/">logout</a></p>

  {% else %}
    <div>
      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form  action ="/login/" method="POST">
              {% csrf_token %}
              <h1>Login Form</h1>
              <div>
                <input type="text" class="form-control" placeholder="Username" required="" name="username" autofocus="" required=""/>
              </div>
              <div>
                <input type="password" class="form-control" placeholder="Password" required="" name="password" required=""/>
              </div>
              <div>
                <button class="btn btn-default submit" type="submit">Log in</button>
              </div>

              <div class="clearfix"></div>

              <div class="separator">

                <div class="clearfix"></div>
                <br />

                <div>
                  <h1><i class="fa fa-paw"></i> CC3501 2018</h1>
                  <p>©2018 All Rights Reserved.</p>
                </div>
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>

  {% endif %}
</div>

{% endblock content %}